<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Header</key>
		<string>Friday 08:00</string>
		<key>Sessions</key>
		<array>
			<dict>
				<key>Time</key>
				<string>08:00 - 08:45</string>
				<key>Name</key>
				<string>Breakfast, Registration</string>
				<key>Room</key>
				<string>The Hill</string>
				<key>Hour</key>
				<string>0</string>
				<key>Offset</key>
				<string>0</string>
				<key>Length</key>
				<string>0.75</string>
			</dict>
		</array>
  </dict>
  <dict>
    <key>Header</key>
    <string>Friday 08:45</string>
    <key>Sessions</key>
    <array>
      <dict>
        <key>Time</key>
        <string>08:45 - 09:00</string>
        <key>Name</key>
        <string>Opening Remarks</string>
        <key>Room</key>
        <string>The Hill</string>
        <key>Hour</key>
        <string>0</string>
        <key>Offset</key>
        <string>0.75</string>
        <key>Length</key>
        <string>0.25</string>
      </dict>
    </array>
  </dict>
	<dict>
		<key>Header</key>
		<string>Friday 09:00</string>
		<key>Sessions</key>
		<array>
			<dict>
				<key>Time</key>
				<string>09:00 - 09:30</string>
				<key>Name</key>
				<string>Keynote</string>
				<key>Room</key>
				<string>The Hill</string>
				<key>Hour</key>
				<string>1</string>
				<key>Offset</key>
				<string>0</string>
				<key>Length</key>
				<string>0.5</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Header</key>
		<string>Friday 09:45</string>
		<key>Sessions</key>
		<array>
			<dict>
				<key>Time</key>
				<string>09:45 - 11:00</string>
				<key>Name</key>
				<string>iOS Apprentice Review Pt 1</string>
				<key>Room</key>
				<string>The Hill</string>
				<key>Hour</key>
				<string>1</string>
				<key>Offset</key>
				<string>0.75</string>
				<key>Length</key>
				<string>1.25</string>
			</dict>
			<dict>
				<key>Time</key>
				<string>09:45 - 11:00</string>
				<key>Name</key>
				<string>Swift for Obj-C Developers - Language Basics</string>
				<key>Room</key>
				<string>Metropolitan East &amp; West</string>
				<key>Hour</key>
				<string>1</string>
				<key>Offset</key>
				<string>0.75</string>
				<key>Length</key>
				<string>1.25</string>
			</dict>
			<dict>
				<key>Time</key>
				<string>09:45 - 11:00</string>
				<key>Name</key>
				<string>App Architecture</string>
				<key>Room</key>
				<string>Metropolitan Center</string>
				<key>Hour</key>
				<string>1</string>
				<key>Offset</key>
				<string>0.75</string>
				<key>Length</key>
				<string>1.25</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Header</key>
		<string>Friday 11:15</string>
		<key>Sessions</key>
		<array>
			<dict>
				<key>Time</key>
				<string>11:15 - 12:30</string>
				<key>Name</key>
				<string>iOS Apprentice Review Pt 2</string>
				<key>Room</key>
				<string>The Hill</string>
				<key>Hour</key>
				<string>3</string>
				<key>Offset</key>
				<string>0.25</string>
				<key>Length</key>
				<string>1.25</string>
			</dict>
			<dict>
				<key>Time</key>
				<string>11:15 - 12:30</string>
				<key>Name</key>
				<string>Swift for Obj-C Developers - Generics, Closures, Enums, and Switch</string>
				<key>Room</key>
				<string>Metropolitan East &amp; West</string>
				<key>Hour</key>
				<string>3</string>
				<key>Offset</key>
				<string>0.25</string>
				<key>Length</key>
				<string>1.25</string>
			</dict>
			<dict>
				<key>Time</key>
				<string>11:15 - 12:30</string>
				<key>Name</key>
				<string>Advanced Debugging</string>
				<key>Room</key>
				<string>Metropolitan Center</string>
				<key>Hour</key>
				<string>3</string>
				<key>Offset</key>
				<string>0.25</string>
				<key>Length</key>
				<string>1.25</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Header</key>
		<string>Friday 12:30</string>
		<key>Sessions</key>
		<array>
			<dict>
				<key>Time</key>
				<string>12:30 - 13:30</string>
				<key>Name</key>
				<string>Lunch</string>
				<key>Room</key>
				<string>Restaurant</string>
				<key>Hour</key>
				<string>4</string>
				<key>Offset</key>
				<string>0.5</string>
				<key>Length</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Header</key>
		<string>Friday 13:30</string>
		<key>Sessions</key>
		<array>
			<dict>
				<key>Time</key>
				<string>13:30 - 14:45</string>
				<key>Name</key>
				<string>Auto Layout</string>
				<key>Room</key>
				<string>The Hill</string>
				<key>Hour</key>
				<string>5</string>
				<key>Offset</key>
				<string>0.5</string>
				<key>Length</key>
				<string>1.25</string>
			</dict>
			<dict>
				<key>Time</key>
				<string>13:30 - 14:45</string>
				<key>Name</key>
				<string>Swift for Obj-C Developers - Swift &amp; Cocoa</string>
				<key>Room</key>
				<string>Metropolitan East &amp; West</string>
				<key>Hour</key>
				<string>5</string>
				<key>Offset</key>
				<string>0.5</string>
				<key>Length</key>
				<string>1.25</string>
			</dict>
			<dict>
				<key>Time</key>
				<string>13:30 - 14:45</string>
				<key>Name</key>
				<string>AsyncDisplayKit</string>
				<key>Room</key>
				<string>Metropolitan Center</string>
				<key>Hour</key>
				<string>5</string>
				<key>Offset</key>
				<string>0.5</string>
				<key>Length</key>
				<string>1.25</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Header</key>
		<string>Friday 15:00</string>
		<key>Sessions</key>
		<array>
			<dict>
				<key>Time</key>
				<string>15:00 - 16:15</string>
				<key>Name</key>
				<string>Adaptive Layout</string>
				<key>Room</key>
				<string>The Hill</string>
				<key>Hour</key>
				<string>7</string>
				<key>Offset</key>
				<string>0</string>
				<key>Length</key>
				<string>1.25</string>
			</dict>
			<dict>
				<key>Time</key>
				<string>15:00 - 16:15</string>
				<key>Name</key>
				<string>Swift for Obj-C Developers - Functional Programming</string>
				<key>Room</key>
				<string>Metropolitan East &amp; West</string>
				<key>Hour</key>
				<string>7</string>
				<key>Offset</key>
				<string>0</string>
				<key>Length</key>
				<string>1.25</string>
			</dict>
			<dict>
				<key>Time</key>
				<string>15:00 - 16:15</string>
				<key>Name</key>
				<string>Unit Testing in Practice</string>
				<key>Room</key>
				<string>Metropolitan Center</string>
				<key>Hour</key>
				<string>7</string>
				<key>Offset</key>
				<string>0</string>
				<key>Length</key>
				<string>1.25</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Header</key>
		<string>Friday 16:30</string>
		<key>Sessions</key>
		<array>
			<dict>
				<key>Time</key>
				<string>16:30 - 17:00</string>
				<key>Name</key>
				<string>Possibility</string>
				<key>Room</key>
				<string>The Hill</string>
				<key>Hour</key>
				<string>8</string>
				<key>Offset</key>
				<string>0.5</string>
				<key>Length</key>
				<string>0.5</string>
			</dict>
			<dict>
				<key>Time</key>
				<string>16:30 - 17:00</string>
				<key>Name</key>
				<string>Starting Over?</string>
				<key>Room</key>
				<string>Metropolitan East &amp; West</string>
				<key>Hour</key>
				<string>8</string>
				<key>Offset</key>
				<string>0.5</string>
				<key>Length</key>
				<string>0.5</string>
			</dict>
			<dict>
				<key>Time</key>
				<string>16:30 - 17:00</string>
				<key>Name</key>
				<string>Cog Sci</string>
				<key>Room</key>
				<string>Metropolitan Center</string>
				<key>Hour</key>
				<string>8</string>
				<key>Offset</key>
				<string>0.5</string>
				<key>Length</key>
				<string>0.5</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Header</key>
		<string>Friday 17:00</string>
		<key>Sessions</key>
		<array>
			<dict>
				<key>Time</key>
				<string>17:00 - 17:30</string>
				<key>Name</key>
				<string>Identity</string>
				<key>Room</key>
				<string>The Hill</string>
				<key>Hour</key>
				<string>9</string>
				<key>Offset</key>
				<string>0</string>
				<key>Length</key>
				<string>0.5</string>
			</dict>
			<dict>
				<key>Time</key>
				<string>17:00 - 17:30</string>
				<key>Name</key>
				<string>raywenderlich.com Folklore</string>
				<key>Room</key>
				<string>Metropolitan East &amp; West</string>
				<key>Hour</key>
				<string>9</string>
				<key>Offset</key>
				<string>0</string>
				<key>Length</key>
				<string>0.5</string>
			</dict>
			<dict>
				<key>Time</key>
				<string>17:00 - 17:30</string>
				<key>Name</key>
				<string>Craftmanship</string>
				<key>Room</key>
				<string>Metropolitan Center</string>
				<key>Hour</key>
				<string>9</string>
				<key>Offset</key>
				<string>0</string>
				<key>Length</key>
				<string>0.5</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Header</key>
		<string>Friday 17:30</string>
		<key>Sessions</key>
		<array>
			<dict>
				<key>Time</key>
				<string>17:30 - 18:00</string>
				<key>Name</key>
				<string>Opportunity</string>
				<key>Room</key>
				<string>The Hill</string>
				<key>Hour</key>
				<string>9</string>
				<key>Offset</key>
				<string>0.5</string>
				<key>Length</key>
				<string>0.5</string>
			</dict>
			<dict>
				<key>Time</key>
				<string>17:30 - 18:00</string>
				<key>Name</key>
				<string>Math Isn&apos;t Hard</string>
				<key>Room</key>
				<string>Metropolitan East &amp; West</string>
				<key>Hour</key>
				<string>9</string>
				<key>Offset</key>
				<string>0.5</string>
				<key>Length</key>
				<string>0.5</string>
			</dict>
			<dict>
				<key>Time</key>
				<string>17:30 - 18:00</string>
				<key>Name</key>
				<string>TBD</string>
				<key>Room</key>
				<string>Metropolitan Center</string>
				<key>Hour</key>
				<string>9</string>
				<key>Offset</key>
				<string>0.5</string>
				<key>Length</key>
				<string>0.5</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
